/* TLX Web Form
    CSS Styling
    created on 8.3.2019
*/
@import url('https://fonts.googleapis.com/css?family=Work+Sans');
body {
    font-family: "Work Sans";
    max-width: 768px;
    width: 768px;
}

#formBody {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
}

html {
    display: table;
    margin: auto;
    height: 100%;
}

#tlxForm {
    height: 100%;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}

#login {
    text-align: right;
}

#languageButtons {
    margin-top: 32px;
}

#scaleContainerDiv {
    width: 100%;
    height: 512px;
}

.scaleDiv {
    height: 5%;
    width: 100%;
}

.scaleHeader {
    float:left;
    font-weight:bold;
}

.scaleTable {
    height: 100%;
    width: 100%;
}

.scaleLeftText {
    float:left;
}

.scaleRightText {
    float:right;
}

.scaleCell {
    border: 1px solid black;
}

.selectedCell {
    background-color: black;
}

.midpointLine {
    border: transparent;
    background-color: black;
    height: 100%;
    width: 1px;
}

.hidden {
    display: none;
}

/* admin page */
#nameInput, #taskInput, #expireDateInput, #submitNewForm {
    margin-top: 3px;
    margin-bottom: 3px;
}

.formLabel {
    margin: 0px;
    padding: 0px;
    
}

.adminForm-Text {
    width: 50%;
}

.adminForm-Date, .adminForm-Time {
    width: 20%;
}

table, th, td {
    border: 1px darkgray dotted;
}

table {
    width: 100%;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}

.formActionMenuButton {
    text-align: left;
    display: inline-flex;
}

.formInline {
    display: inline-flex;
    text-align: right;
    align-items: right;
}

.spacer {
    padding-left: 5px;
    padding-right: 5px;
}

.tinySpacer {
    padding-left: 2px;
    padding-right: 2px;
}